
dist/

build/

__pycache__/

Huskos SteamWorkshop Downloader.spec

configs/

update/
test.py

.gitignore

*.URL

website/database.db

website/Wolf-Awesome-Lite.exe

Other Source Files/background.psd

website/static/headers/

contained/
