<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='wolf-awesome.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" color>
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}

                <div class="toast" id="toast">
                    <div class="toast-content">
            
                        <div class="close-btn">
                            <a class="wa-close icon-pos" id="close-btn"></a>
                        </div>
            
                        <div class="message">            
                            <div class="text-content">
                                <p class="text text-1" id="txt-hide">Error</p>
                                <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                            </div>
                        </div>
            
                    </div>
                </div>

                {% elif category == "success" %}

                <div class="toast" id="toast">
                    <div class="toast-content success">
            
                        <div class="close-btn">
                            <a class="wa-close icon-pos" id="close-btn"></a>
                        </div>
            
                        <div class="message">            
                            <div class="text-content">
                                <p class="text text-success" id="txt-hide">Success</p>
                                <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                            </div>
                        </div>
            
                    </div>
                </div>

                {% elif category == "info" %}

                <div class="toast" id="toast">
                    <div class="toast-content info">
            
                        <div class="close-btn">
                            <a class="wa-close icon-pos" id="close-btn"></a>
                        </div>
            
                        <div class="message">            
                            <div class="text-content">
                                <p class="text text-info" id="txt-hide">Info</p>
                                <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                            </div>
                        </div>
            
                    </div>
                </div>
                
                {% else: %}

                <div class="toast" id="toast">
                    <div class="toast-content unknown">
            
                        <div class="close-btn">
                            <a class="wa-close icon-pos" id="close-btn"></a>
                        </div>
            
                        <div class="message">            
                            <div class="text-content">
                                <p class="text text-unknown" id="txt-hide">Unknown Error</p>
                                <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                            </div>
                        </div>
            
                    </div>
                </div>
                
                {% endif %}
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
    {% block content %}{% endblock%}


    <div class="sidebar close">
        <div class="logo-details">
            <i class='wa-logo'></i>
            <span class="logo_name">SteamWorkshop Downloader</span>
        </div>
        <ul class="nav-links">
            {% if user.is_anonymous %}
            <li>
                <a href="/login">
                    <i class='wa-enter'></i>
                    <span class="link_name">Login</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/login">Login</a></li>
                </ul>
            </li>
            <li>
                <a href="/register">
                    <i class='wa-edit'></i>
                    <span class="link_name">Register</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/register">Register</a></li>
                </ul>
            </li>
            {% else %}
            <li>
                <a href="/games">
                    <i class='wa-gamepad'></i>
                    <span class="link_name">Games</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/games">Games</a></li>
                </ul>
            </li>
            <li>
                <a href="downloader">
                    <i class='wa-download'></i>
                    <span class="link_name">Downloader</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/downloader">Downloader</a></li>
                </ul>
            </li>
            <li>
                <a href="mods-library">
                    <i class='wa-library'></i>
                    <span class="link_name">Mods Library</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/mods-library">Mods Library</a></li>
                </ul>
            </li>
            <!---<ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Category</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Posts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Posts</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Analytics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Chart</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Chart</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-plug'></i>
                        <span class="link_name">Plugins</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Plugins</a></li>
                    <li><a href="#">UI Face</a></li>
                    <li><a href="#">Pigments</a></li>
                    <li><a href="#">Box Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-compass'></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li> -->
            <li>
                <a href="settings">
                    <i class='wa-settings'></i>
                    <span class="link_name">Settings</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="settings">Settings</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <object data="file:///avatar.png" type="image/png">
                            <img src="https://c.tenor.com/OZQVcrloOEYAAAAd/huh-what.gif" />
                        </object>
                    </div>
                    <div class="name-role">
                        <div class="profile_name">{{session['username']}}</div>
                        {% if session['username'] == "Husko1337" or session['username'] == "BillyTheFurry" %}
                        <div class="role">Developer</div>
                        {% else %}
                        <div class="role"></div>
                        {% endif %}
                    </div>
                    <a href="/logout"><i class='wa-logout'></i></a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="home-section">
        <i class='wa-menu-alt1'></i>
    </div>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".wa-menu-alt1");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>


    <!-- Toast -->
    
    <script>
        const closeBtn = document.getElementById('close-btn');
        const toast = document.getElementById("toast");



        closeBtn.addEventListener('click', () => {
            toast.parentNode.removeChild(toast);
        });

        setTimeout(function() {
            toast.parentNode.removeChild(toast);
        }, 5000);
    </script>
    
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>