<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='wolf-awesome.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" color>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "soft-error" %}
                <!-- <div class="toast">
                    <div class="toast-content">
                        <i class="fas fa-solid fa-check check"></i>

                        <div class="message">
                            <p class="text text-1" id="txt-hide">Error</p>
                            <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-xmark close"></i>

                    <div class="progress"></div>
                </div> -->

                <!-- <button class="login-btn">Show toast</button> -->


                <!-- <div class="toast">
                    <div class="toast-content">
                        <span class="circle"></span>

                        <div class="message">
                            <p class="text text-1" id="txt-hide">Error</p>
                            <span class="text text-2" id="txt-hide-2">{{ message }}</span>
                        </div>
                    </div>
                </div> -->


                <div class="toast" id="toast">
                    <div class="toast-content">
                        
                        <div class="message">
                            <div class="circle"></div>
                        
                            <div class="text-content">
                                <p class="text text-1" id="txt-hide">Error</p>
                                <span class="text text-2" id="txt-hide-2">Username doesn't exist</span>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif category == "hard-error" %}
    

                {% elif category == "success" %}
                
                {% else: %}
                
                {% endif %}
            {% endfor %} 
        {% endif %} 
    {% endwith %} 
    {% block content %}{% endblock%}

    

    <div class="sidebar close">
        <div class="logo-details">
            <i class='wa-wolf'></i>
            <span class="logo_name">SteamWorkshop Downloader</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Category</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Category</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Category</a></li>
                    <li><a href="#">HTML & CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP & MySQL</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Posts</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Posts</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Analytics</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Analytics</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Chart</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Chart</a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-plug'></i>
                        <span class="link_name">Plugins</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Plugins</a></li>
                    <li><a href="#">UI Face</a></li>
                    <li><a href="#">Pigments</a></li>
                    <li><a href="#">Box Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-compass'></i>
                    <span class="link_name">Explore</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Explore</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">History</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">History</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <object data="file:///avatar.png" type="image/png">
                            <img src="https://c.tenor.com/OZQVcrloOEYAAAAd/huh-what.gif" />
                        </object>
                    </div>
                    <div class="name-job">
                        <div class="profile_name">HuskoTheOldFurryFag</div>
                        <div class="job">Developer</div>
                    </div>
                    <a href="/logout"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="home-section">
        <i class='bx bx-menu'></i>
    </div>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>