{% extends "base.html" %} {% block title %}Downloader{% endblock %} {% block content %}
    <div class="downloader-container">
        <div class="downloader-content">
            <div class="mod-image-container">
                <div class="mod-image">
                    <img src="{{ mod_data['mod_image'] }}" alt="">
                </div>
            </div>

            <div class="stats">
                <div class="stats-background">
                    <img src="{{ mod_data['creator_image'] }}" alt="" class="stats-pfp">
                </div>

                <div class="stats-text">
                    <p class="author-text">Author</p>
                    <p class="author-name">{{ mod_data['creator_name'] }}</p>

                    <p class="updated-text">Updated</p>
                    <p class="updated-date-text">{{ mod_data['mod_updated'] }}</p>
                    
                    <p class="size-text">Size</p>
                    <p class="mod-size">{{ mod_data['mod_size'] }}</p>
                </div>

                <div class="stats-icons">
                    <p class="wa-eye eye-icon"></p>
                    <p class="views-text">{{ mod_data['mod_views'] }}</p>
                    
                    <p class="wa-down-arrow down-arrow-icon center-icon"></p>
                    <p class="downloads-text center-icon">{{ mod_data['mod_subs'] }}</p>
                    
                    <p class="wa-star star-icon star-right-icon"></p>
                    <p class="star-text star-right-icon">{{ mod_data['mod_favs'] }}</p>
                </div>
            </div>

            <div class="mod-information">
                <div class="mod-title">
                    <a href="#"><p>{{ mod_data['mod_name'] }}</p></a>
                </div>
                
                <div class="mod-description">
                    <p class="description-text" >{{ mod_data['mod_desc'] }}</p>
                </div>
            </div>

            <form method="POST">
                <label for="workshop-link"></label>
                <div class="workshop-link">
                    <input type="text" name="workshop-link" class="workshop-link-input" placeholder="Workshop Link">
                </div>
            </form>
        </div>
    </div>
{% endblock %}