{% extends "base.html" %} {% block title %}Games{% endblock %} {% block content %}
    <div class="search-container">
        <div class="search-bar-box">
            <div class="search-box">
                <input type="search" name="search" class="search-input" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="box-container">
        <div class="game-box-container">
                <div class="game-box">
                    <i class="wa-add"></i>
    
                    <div class="add-game">
                        <p>Add Game</p>
                    </div>
                </div>
            </div>


            <!-- <div class="flex-container">
                <div class="box-1">
                    Box 1
                </div>

                <div class="box-1">
                    Box 2
                </div>
            </div> -->

        </div>
{% endblock %}