/* Google Fonts Import Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #dddd;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0a0b11;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #dddd;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 16px;
    color: #dddd;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #dddd;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #dddd;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #dddd;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 5px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .role {
    color: #dddd;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .role {
    display: none;
}

.sidebar .profile-details .role {
    font-size: 12px;
}

.home-section {
    position: absolute;
    padding: 13px 15px;
    font-size: 35px;
    left: 260px;
    top: 0%;
    /* width: calc(100% - 260px); */
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    position: absolute;
    top: 0%;
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.wa-menu-alt1 {
    position: fixed;
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
    .sidebar {
        width: 78px;
    }
    .sidebar.close {
        width: 0;
    }
    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}


/* Login */

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 200px #0f111a inset; */
}

.center {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    position: absolute;
    left: 35%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
}

.username-input {
    padding: 7px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: #0C0E15;
    text-align: center;
    outline: none;
}

.password-input {
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: #0C0E15;
    margin: 5px;
    text-align: center;
    outline: none;
}

.login-btn {
    padding: 5px 50px;
    border: none;
    background-color: #090A10;
    border-radius: 14px;
    cursor: pointer;
    outline: none;
    transition: 0.5s ease;
}

.login-btn:hover {
    opacity: 0.8;
    background-color: #1d1b31;
    transition: 0.5s ease;
}

.login-btn-border {
    --borderWidth: 3px;
    margin-top: 8px;
    background: #1D1F20;
    position: relative;
    border-radius: 20px;
}

.login-btn-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(160deg, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red);
    border-radius: calc(5 * var(--borderWidth));
    z-index: -1;
    animation: animate 3s linear infinite;
    background-size: 900% 900%;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

#li-btn {
    animation-delay: 0.3s;
}


/* Register */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.register-btn {
    padding: 5px 50px;
    border: none;
    background-color: #090A10;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.register-btn:hover {
    opacity: 0.8;
    background-color: #1d1b31;
    transition: 0.5s;
}

.register-btn-border {
    --borderWidth: 3px;
    margin-top: 8px;
    background: #1D1F20;
    position: relative;
    border-radius: 20px;
}

.register-btn-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(160deg, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red);
    border-radius: calc(5 * var(--borderWidth));
    z-index: -1;
    animation: animate 3s linear infinite;
    background-size: 900% 900%;
}


/* Games */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76.8%;
    margin-left: 13%;
    margin-top: 40px;
    margin-bottom: 15px;
}

.search-bar-box {
    background-color: #0C0E15;
    width: 100%;
}

.search-box {
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.search-input {
    text-align: center;
    background-color: #090A10;
    border: none;
    border-radius: 25px;
    outline: none;
    margin: 10px;
    margin-left: 69%;
    padding: 3px 30px;
}


/* Game Boxes */

* {
    box-sizing: border-box;
}

.box-container {
    width: 80.14%;
    height: 81%;
    margin-left: 12%;
    font-size: 30px;
    text-align: center;
}

.game-box-container {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-box {
    width: 17.25%;
    height: 123.9px;
    background-color: #1d1b31;
    position: relative;
    margin: 1.2%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.game-box:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.game-container {
    position: relative;
}

.game {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    background-color: #090A10;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .4s ease-in-out;
    opacity: 0.8;
}

.game-container:hover .game {
    height: 35%;
}

.game-box-text {
    color: white;
    opacity: 1;
}

.game-box-image {
    width: 100%;
    height: 100%;
}

.wa-add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.wa-add:hover {
    font-size: 30px;
    transition: 0.2s ease-in-out;
}

.mods-installed-text {
    font-size: 12px;
}


/* Downloader */

.downloader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.downloader-search-box {
    padding: 50px;
    width: 60%;
    position: relative;
    bottom: 20px;
}

.workshop-search {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 8px;
    background-color: #0C0E15;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
}


/* Modlist */

.modlist-container {
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    height: 100%;
    margin-top: 75px;
}

.list-name {
    background-color: #090A10;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-left: 22px;
}

.x-icon {
    float: right;
    padding-right: 15px;
    text-decoration: none;
}

#texts {
    margin-top: 25px;
    font-size: 15px;
    color: #252525;
}


/* Error Popups */

.toast-content {
    background-color: #0f111a;
    position: absolute;
    padding: 20px 40px;
    min-width: 420px;
    right: 0px;
    top: 15px;
    border-radius: 4px;
    border-left: 5px solid red;
    z-index: 1;
}

.toast-content {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-15px);
    }
}

.toast-content .message {
    padding: 0 20px;
    font-size: 18px;
    color: #dddd;
}

.text-1 {
    color: red;
}

.toast-content .close-btn {
    position: absolute;
    right: 15px;
    top: 9%;
    font-size: 14px;
    color: red;
    cursor: pointer;
    transition: transform .25s, opacity .25s;
    opacity: .7;
}

.close-btn:before {
    content: "";
}

.close-btn:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.text-success {
    color: #15db15;
}

.toast-content.success {
    border-left: 5px solid #15db15;
}

.text-info {
    color: #166beb;
}

.toast-content.info {
    border-left: 5px solid #166beb;
}


/* Scrollbar (Firefox) */

@supports (scrollbar-color: #0F111A #06070A) {
    * {
        scrollbar-color: #0F111A #06070A;
    }
}


/* Game Setup */

#content {
    transition: 0.8s ease;
}

.blur-bg {
    filter: blur(8px);
    transition: 0.8s ease;
}

.game-setup-container {
    position: fixed;
    top: -3%;
    left: 2%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.game-setup {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px cyan;
    border-radius: 25px;
    width: 55%;
    height: 250px;
    background-color: #0F111A;
}

.game-setup-inputs {
    background-color: #0C0E15;
    color: #dddd;
    text-align: center;
    border: none;
    border-radius: 20px;
    outline: none;
    margin: 7px;
    padding: 7px;
    width: 90%;
}

.game-setup-button {
    padding: 7px 70px;
    border: none;
    background-color: #090A10;
    color: #dddd;
    border-radius: 14px;
    cursor: pointer;
    outline: none;
    /* transition: 0.5s; */
}

.game-setup-button:hover {
    opacity: 0.8;
    background-color: #1d1b31;
    transition: 0.5s ease;
}

.game-setup-border {
    --borderWidth: 3px;
    margin-top: 8px;
    background: #1D1F20;
    position: relative;
    border-radius: 20px;
}

.game-setup-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(160deg, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red, yellow, lime, aqua, blue, magenta, red);
    border-radius: calc(5 * var(--borderWidth));
    z-index: -1;
    animation: animate 3s linear infinite;
    background-size: 900% 900%;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

#li-btn {
    animation-delay: 0.3s;
}

.game-setup-close {
    color: #ddd;
    position: absolute;
    top: 5%;
    left: 96%;
    cursor: pointer;
    transition: transform .25s, opacity .25s;
    opacity: .7;
}

.game-setup-close:before {
    content: "\d7";
}

.game-setup-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

/* Media Queries */

/* 4K Resolution */

@media (min-width: 3840px) {
    .search-container {
        width: 76.85%;
        margin-left: 12.9%;
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .search-box {
        padding-right: 20px;
    }

    .search-input {
        border-radius: 50px;
        margin: 20px;
        margin-left: 138%;
        padding: 6px 60px;
        font-size: 20px;
    }

    .game-box {
        height: 100%;
    }

    .game-box {
        height: 300px;
    }

    .game-container:hover .game {
        font-size: 40px;
        height: 45%;
    }

    .mods-installed-text {
        font-size: 33px;
    }

    .wa-add {
        font-size: 70px;
    }

    .wa-add:hover {
        font-size: 95px;
    }

    .game-setup {
        width: 60%;
        height: 650px;
        border-radius: 50px;
    }

    .game-setup-inputs {
        margin: 15px;
        padding: 25px;
        font-size: 35px;
        border-radius: 50px;
    }

    .game-setup-button {
        padding: 9px 223px;
        border-radius: 50px;
        font-size: 35px;
    }

    .game-setup-border {
        --borderWidth: 7px;
        border-radius: 27px;
    }

    .game-setup-close {
        top: 6%;
        left: 96%;
        font-size: 40px;
    }

    .sidebar {
        width: 520px;
        z-index: 200;
    }
    
    .sidebar.close {
        width: 156px;
    }
    
    .sidebar .logo-details {
        height: 120px;
    }
    
    .sidebar .logo-details i {
        font-size: 60px;
        height: 100px;
        min-width: 156px;
        line-height: 100px;
    }
    
    .sidebar .logo-details .logo_name {
        font-size: 32px;
    }
    
    .sidebar .nav-links {
        padding: 60px 0 300px 0;
    }
    
    .sidebar .nav-links li i {
        height: 100px;
        min-width: 156px;
        line-height: 100px;
        font-size: 40px;
    }
    
    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-360deg); /* 180deg last seen */
    }
    
    .sidebar .nav-links li a .link_name {
        font-size: 36px;
    }
    
    .sidebar .nav-links li .sub-menu {
        padding: 12px 12px 28px 160px;
        margin-top: -20px;
    }
    
    .sidebar .nav-links li .sub-menu a {
        font-size: 30px;
        padding: 10px 0;
    }
    
    .sidebar.close .nav-links li .sub-menu {
        left: 200%;
        top: -20px;
        padding: 20px 40px;
        border-radius: 0 12px 12px 0;
    }
    
    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 36px;
    }
    
    .sidebar .nav-links li .sub-menu.blank {
        padding: 6px 40px 12px 32px;
    }
    
    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 100%;
        transform: translateY(-100%);
    }
    
    .sidebar .profile-details {
        width: 520px;
        padding: 24px 0;
    }
    
    .sidebar.close .profile-details {
        width: 156px;
    }
    
    .sidebar .profile-details img {
        height: 104px;
        width: 104px;
        border-radius: 40px;
        margin: 0 28px 0 24px;
    }
    
    .sidebar.close .profile-details img {
        padding: 10px;
    }
    
    .sidebar .profile-details .profile_name,
    .sidebar .profile-details .role {
        font-size: 36px;
    }
    
    .sidebar .profile-details .role {
        font-size: 24px;
    }
    
    .home-section {
        padding: 26px 30px;
        font-size: 70px;
        left: 520px;
    }
    
    .sidebar.close~.home-section {
        left: 156px;
    }
    
    .home-section .home-content {
        height: 120px;
    }
    
    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        font-size: 70px;
    }
    
    .home-section .home-content .bx-menu {
        margin: 0 30px;
    }
    
    .home-section .home-content .text {
        font-size: 52px;
    }
}
