@font-face {
    font-family: 'wolf';
    src: url('wolf.eot');
    src: url('wolf.eot') format('embedded-opentype'), url('wolf.ttf') format('truetype'), url('wolf.woff') format('woff'), url('wolf.svg') format('svg');
    font-style: normal;
    font-display: block;
}

[class^="wa-"],
[class*=" wa-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wolf' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wa-astronaut:before {
    content: "\e900";
}

.wa-wolf:before {
    content: "\e901";
}