@font-face {
  font-family: 'wolf';
  src: url('./wolf-awesome.eot');
  src: url('./wolf-awesome.eot') format('embedded-opentype'), url('./wolf-awesome.ttf') format('truetype'), url('./wolf-awesome.woff') format('woff'), url('./wolf-awesome.svg') format('svg');
  font-style: normal;
  font-display: block;
}

[class^="wa-"], [class*=" wa-"] {  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wolf' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wa-down-arrow:before {
  content: "\e913";
}
.wa-eye:before {
  content: "\e914";
}
.wa-star:before {
  content: "\e915";
}
.wa-add:before {
  content: "\e912";
}
.wa-alert:before {
  content: "\e900";
}
.wa-bug:before {
  content: "\e901";
}
.wa-check:before {
  content: "\e902";
}
.wa-close:before {
  content: "\e903";
}
.wa-download:before {
  content: "\e904";
}
.wa-edit:before {
  content: "\e905";
}
.wa-enter:before {
  content: "\e906";
}
.wa-gamepad:before {
  content: "\e907";
}
.wa-grid:before {
  content: "\e908";
}
.wa-info:before {
  content: "\e909";
}
.wa-library:before {
  content: "\e90a";
}
.wa-list:before {
  content: "\e90b";
}
.wa-logo:before {
  content: "\e90c";
}
.wa-logout:before {
  content: "\e90d";
}
.wa-menu:before {
  content: "\e90e";
}
.wa-menu-alt1:before {
  content: "\e90f";
}
.wa-question:before {
  content: "\e910";
}
.wa-settings:before {
  content: "\e911";
}
